.idea


/src/Application/MainBundle/Resources/doc/code/*/app
*.pyc
/temp*
/behat.yml
/web/uploads
/properties.conf
/composer.lock

/app/SymfonyRequirements.php
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/web/doc/
