@import "bootstrap/adjustments.css";
@import "bootstrap/footer.css";
@import "bootstrap/callouts.css";
@import "fonts.css";

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    color: #555555 !important;
    font-family: 'Roboto Slab', serif;
    line-height: 1.3;
}
